/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: var(--main-color);
  color: #fff;
}
:root {
  --main-color: #ffb411;
  --text-color: #1e1c2a;
  --bg-color: #fff;
  --icon-color: navy;

  --big-font: 4rem;
  --h2-font: 2.24rem;
  --p-font: 0.9rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --bg-color: #1e1c2a;
  --text-color: #fff;
  --icon-color: #0079C1;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
#darkmode {
  color: var(--text-color);
  font-size: 25px;
  cursor: pointer;
}
.popup-modal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 35%;
  height: 60%;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 20px;
  position: relative;
}
.popup-window img {
  margin: 0 auto 15px;
  width: 26%;
}
.popup-window p {
  margin-bottom: 20px;
}
.popup-window i {
  color: var(--text-color);
}
.action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.action1 {
  border-bottom: var(--text-color) solid 1px;
  padding: 1rem 0.3rem 0 1.5rem;
  position: relative;
}
.action2 {
  border-bottom: var(--text-color) solid 1px;
  padding: 1rem 1.5rem 0 0.3rem;
  position: relative;
}
.action a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
}
.action1:hover a {
  color: #ffb411;
  transition: .2s ease;
}
.action2:hover a {
  color: #ffb411;
  transition: .2s ease;
}
.action1 i {
  color: var(--text-color);
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  bottom: 4px;
  font-size: 1.3rem;
}
.action2 i {
  color: var(--text-color);
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 1.3rem;
}
.action1:hover i {
  color: #ffb411;
}
.action2:hover i {
  color: #ffb411;
}
.bx-x {
  color: var(--text-color);
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
.input-parent i{
  color: var(--text-color);
  margin-right: .5rem;
}
.input-btn {
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 10px;
}
.input-btn:hover {
  background: #ffa400;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}
#logo {
  width: 50px;
  cursor: pointer;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
}
.navbar .active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.home-img img {
  width: 100%;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}
.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 1rem;
}
.btn {
  display: inline-block;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
}
.btn:hover {
  background: #ffa400;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}
.class-img {
  max-width: 85%;
  margin: 0.8rem 0 1.8rem;
  border-radius: 0.5rem;
}
.class-txt {
  margin: 0.8rem 0 1.8rem;
  line-height: 2rem;
}
.about-text span {
  color: var(--main-color);
  font-weight: 500;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.heading {
  text-align: center;
}
.heading span {
  color: var(--main-color);
  font-weight: 500;
}
.heading h2 {
  font-size: var(--h2-font);
}
.heading img {
  width: 50px;
  margin-bottom: 20px;
}
.about-us-container {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-us-img {
  text-align: center;
}
.vision-text {
  padding: 20px 10%;
}
.service-container {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.service-img {
  text-align: center;
}
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}
.checkout-container i {
  color: var(--text-color);
}
.checkout-input {
  padding: 0 25px;
}
.checkout-input:nth-child(1) {
  flex: 25%;
}
.checkout-input:nth-child(2) {
  flex: 25%;
}
.checkout-input:nth-child(3) {
  text-align: center;
  flex: 50%;
}
.checkout-input label {
  display: block;
}
.checkout-input h2 {
  display: inline-flex;
  margin-bottom: 30px;
  font-size: var(--h2-font);
  border-bottom: var(--main-color) solid 0.5rem;
}
.checkout-input input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 5px;
	color: var(--text-color);
  background: transparent;
  border: 1.7px solid var(--text-color);
  border-radius: 0.3rem;
  font-weight: 300;
  outline: none;
}
.checkout-input input::placeholder{
  color: var(--text-color);
  opacity: .6;
}
.checkout-input img {
  width: 100%;
}
.checkout-input a {
  display: block;
  text-align: center;
}
.icons-container i {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.contact-us-container {
  padding: 20px 5%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-us-container p {
  font-weight: 500;
}
.contact-wrap {
	height: 100vh;
	margin: 55px auto 0;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.contact-in {
	padding: 40px 30px;
}
.contact-in:nth-child(1) {
	flex: 50%;
	color: var(--text-color);
}
.contact-in:nth-child(2) {
	flex: 40%;
  padding: 0;
}
.contact-in h2 {
  display: inline-flex;
  font-size: var(--h2-font);
	color: var(--text-color);
  border-bottom: var(--main-color) solid 0.5rem;
	margin-bottom: 40px;
}
.contact-in label {
  display: block;
}
.contact-in-input {
	width: 70%;
	height: 40px;
	margin-bottom: 20px;
  padding: 10px 5px;
  border: 1.7px solid var(--text-color);
  border-radius: 0.3rem;
	background: transparent;
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 300;
  outline: none;
}
.contact-in-input::placeholder {
	color: var(--text-color);
  opacity: .6;
}
.contact-in-textarea {
	width: 70%;
	height: 140px;
	margin-bottom: 40px;
  border: 1.7px solid var(--text-color);
  border-radius: 0.3rem;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 300;
  outline: none;
}
.contact-in-textarea::placeholder {
	color: var(--text-color);
  opacity: .6;
}
.contact-in i {
  color: var(--text-color);
}
.contact-in-btn {
	width: 70%;
	height: 40px;
	border: 3px solid var(--main-color);
  border-radius: 0.5rem;
	background: var(--main-color);
	color: #fff;
  cursor: pointer;
  font-size: var(--p-font);
  outline: none;
}
.contact-in-btn:hover {
  background-color: #ffa400;
  border-color: #ffa400;
  transition: .3s ease;
}
.contact-in iframe {
  border-radius: 0.5rem;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1.5rem;
  align-items: center;
}
.menu {
  text-align: center;
}
.menu>a {
  margin-top: 2rem;
}
.menu-bar {
  background: url("./images/yellow-line.png") no-repeat bottom center/280px auto;
  margin-bottom: 30px;
}
.about-food {
  margin-top: 70px;
  text-align: center;
  box-shadow: 0px 4px 12px 0px rgb(4 64 54 / 10%);
}
.about-food span {
  display: block;
  margin-bottom: 15px;
  color: var(--main-color);
  font-weight: 500;
}
.about-food h2 {
  display: inline-block;
  font-size: var(--h2-font);
  background-color: var(--text-color);
  color: var(--bg-color);
  width: 400px;
}
.about-food ul {
  line-height: 35px;
  margin-top: 30px;
}
.about-food img {
  margin-top: 25px;
  width: 80%;
}
.box {
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
  padding: 10px;
}
.box-img {
  width: 200px;
  height: 200px;
}
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.box h2 {
  font-size: 1.2rem;
}
.box h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
}
.box span {
  font-size: var(--p-font);
  font-weight: 500;
}
.box .bx {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: var(--main-color);
  border-radius: 0 0.5rem 0 0.5rem;
  padding: 5px 8px;;
}
.bx {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.box .bx:hover {
  background: #ffa400;
}
.description {
  text-align: center;
}
.slider {
  margin: 40px 20px -50px;
  height: 500px;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  animation: slide 11s linear infinite;
}
@keyframes slide {
  0% {
    background-image: url("/images/banner2.png");
    opacity: .8;
  }
  25% {
    background-image: url("/images/banner2.png");
    opacity: 1;
  }
  45% {
    background-image: url("/images/banner2.png");
    opacity: 1;
  }
  50% {
    background-image: url("/images/banner2.png");
    opacity: .8;
  }
  50.1% {
    background-image: url("/images/banner1.png");
    opacity: .8;
  }
  75% {
    background-image: url("/images/banner1.png");
    opacity: 1;
  }
  95% {
    background-image: url("/images/banner1.png");
    opacity: 1;
  }
  100% {
    background-image: url("/images/banner1.png");
    opacity: .8;
  }
}
/* .slider {
  position: relative;
  background-size: cover;
  background-position: top center;
  height: 600px;
  margin-top: -30px;
  animation: slide 20s linear infinite;
} */
/* @keyframes slide {
  0% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner1.png");
    opacity: .7;
  }
  6% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner1.png");
    opacity: 1;
  }
  27% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner1.png");
    opacity: 1;
  }
  33%{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner1.png");
    opacity: .7;
  }
  33.1% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner2.png");
    opacity: .7;
  }
  39% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner2.png");
    opacity: 1;
  }
  60% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner2.png");
    opacity: 1;
  }
  66% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner2.png");
    opacity: .7;
  }
  66.1% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner3.png");
    opacity: .7;
  }
  72% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner3.png");
    opacity: 1;
  }
  94% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner3.png");
    opacity: 1;
  }
  100% {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.23993347338935578) 0%, rgba(0,0,0,0) 100%), url("banner3.png");
    opacity: .7;
  }
} */
.description span {
  margin-bottom: 15px;
  color: var(--main-color);
  font-weight: 500;
}
.description h2 {
  font-size: var(--h2-font);
  margin-bottom: 20px;
}
.description p {
  line-height: 30px;
}
.customer-care {
  text-align: center;
  margin: 5% 0;
}
.customer-care span {
  margin-bottom: 15px;
  color: var(--main-color);
  font-weight: 500;
}
.customer-care h2 {
  font-size: var(--h2-font);
  margin-bottom: 30px;
}
.customer-care-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  text-align: center;
}
.customer-care img {
  width: 25%;
  margin-bottom: 20px;
}
.customer-care p {
  text-align: center;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.s-box {
  text-align: center;
}
.s-box img {
  width: 60px;
}
.s-box h3 {
  margin: 4px 0 10px;
}
.s-box p {
  line-height: 30px;
}
.connect {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.connect-text span {
  color: var(--main-color);
  font-weight: 500;
}
.connect-text h2 {
  font-size: var(--h2-font);
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1.5rem;
}
.contact-box h3 {
  margin-bottom: 1rem;
}
.social {
  display: flex;
  margin-top: 1.5rem;
}
.social i {
  font-size: 20px;
  margin-right: 1rem;
  color: var(--text-color);
}
.social i:hover {
  color: var(--main-color);
}
.contact-box li a {
  color: var(--text-color);
}
.contact-box li a:hover {
  color: var(--main-color);
}
.address {
  display: flex;
  flex-direction: column;
}
.address i {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.address span {
  margin-left: 1rem;
}
.copyright {
  padding: 20px;
  text-align: center;
}
.hero {
  padding-left:0 ;
  padding-right: 0;
  position: relative;
}
.hero h2 {
  position: absolute;
  bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 1000; 
  font-size: var(--big-font);
  text-align: center;
  opacity: .8;
}
.thank-you {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  margin-top: 80px;
}
.thankyou h2 {
  border-bottom: var(--main-color) solid 0.5rem;
  display: inline-flex;
  margin-bottom: 30px;
  font-size: var(--h2-font);
}
.thankyou img {
  width: 100%;
}
.embed-container {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.video-container {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embed-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.49763655462184875) 100%);
}
.video-container iframe {
  height: 300%;
  width: 100%;
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.banner-mobile {
  display: none;
}
@media (max-width: 850px) {
  /* .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: 0;
  }
  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: initial;
    bottom: initial;
    left: initial;
  } */
  .video-container {
    display: none;
  }
  .banner-mobile  {
    display: block;
    width: 100%;
    height: 60vh;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.49763655462184875) 100%) ,url("/images/banner-mobile.png");
    background-size: cover;
    background-position: top center;
  }
  .contact-wrap {
    height: auto;
    text-align: center;
  }
  .contact-in {
    margin-top: 0;
  }
  .contact-in:nth-child(1) {
    flex: 100%;
  }
  .contact-in iframe {
    height: 400px;
  }
}
@media (min-width: 1111px) {
  .video-container {
    height: 70vh;
  }
  .checkout-container img {
    margin-bottom: 100px;
  }
}
@media (max-width: 1111px) {
  /* .slider {
    animation: none;
    background-image: url("/images/banner4.png");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  } */
  .about-food img {
    width: 100%;
  }
  .checkout-input:nth-child(1) {
    flex: 45%;
  }
  .checkout-input:nth-child(2) {
    max-width: 45%;
    margin: 40px auto;
  }
  .checkout-input:nth-child(3) {
    flex: 50%;
  }
  .checkout-input img {
    width: 80%;
  }
}
@media (max-width: 921px) {
  header {
    padding: 14px 41px;
  }
  :root {
    --big-font: 3rem;
    --h2-font: 1.7rem;
  }
  .popup-window {
    width: 55%;
  }
  .about-us-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0;
  }
  .vision-text {
    text-align: center;
    padding: 0;
  }
  .service-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0;
  }
  .service-img {
    order: 1;
  }
  .contact-us-container {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .contact-us-container a {
    margin-top: 1rem;
  }
  .about-food h2 {
    width: 300px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 50px 8%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
}
@media (max-width: 715px) {
  .popup-window img {
    width: 30%;
  }
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 5rem;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    order: 1;
  }
  .about-food img {
    width: 100%;
  }
  .checkout-input:nth-child(1) {
    flex: 100%;
    margin-top: 30px;
  }
  .checkout-input:nth-child(2) {
    flex: 100%;
    max-width: 100%;
  }
  .checkout-input:nth-child(3) {
    max-width: 100%;
  }
  .checkout-container img {
    width: 80%;
  }
  .thank-you {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 515px) {
  .connect {
    flex-direction: column;
    text-align: center;
  }
  .connect .btn {
    margin-top: 1rem;
  }
  .desc-img img {
    height: 300px;
  }
}
@media (max-width: 450px) {
  :root {
    --big-font: 2rem;
    --h2-font: 1.4rem;
  }
  .popup-window {
    width: 80%;
    height: 75vh;
  }
  .about-food h2 {
    width: 250px;
  }
  .desc-img img {
    height: 250px;
  }
  .slider {
    height: 400px;
  }
}
